@import

    "../core/mixin",
    "../core/setting";

@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot') format('embedded-opentype'),
         url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.icon,[class^="icon-"] {
    @include icon;
}

.icon-pulse {
    animation: rotate-spin 1s infinite steps(7);
}

.icon-spin {
    animation: rotate-spin 2s infinite linear;
} 

@keyframes rotate-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-jiazai:before { content: "\e629"; }

.icon-time:before { content: "\e600"; }

.icon-notification:before { content: "\e601"; }

.icon-order:before { content: "\e602"; }

.icon-pay:before { content: "\e603"; }

.icon-list:before { content: "\e604"; }

.icon-more:before { content: "\e605"; }

.icon-pic:before { content: "\e606"; }

.icon-right:before { content: "\e607"; }

.icon-moreandroid:before { content: "\e608"; }

.icon-qrcode:before { content: "\e609"; }

.icon-home:before { content: "\e60a"; }

.icon-vip:before { content: "\e60b"; }

.icon-tishi1:before { content: "\e611"; }

.icon-squarecheckfill:before { content: "\e60c"; }

.icon-square:before { content: "\e60d"; }

.icon-squarecheck:before { content: "\e60e"; }

.icon-round:before { content: "\e60f"; }

.icon-vipcard:before { content: "\e610"; }

.icon-searchlist:before { content: "\e612"; }

.icon-countdown:before { content: "\e613"; }

.icon-focus:before { content: "\e614"; }

.icon-gupiao:before { content: "\e62a"; }

.icon-shoukuan:before { content: "\e62b"; }

.icon-fuwuchuangb:before { content: "\e665"; }

.icon-tansuob:before { content: "\e66a"; }

.icon-apps:before { content: "\e615"; }

.icon-people:before { content: "\e616"; }

.icon-caretdown:before { content: "\e659"; }

.icon-sortup:before { content: "\e65a"; }

.icon-tag:before { content: "\e617"; }

.icon-hotfill:before { content: "\e618"; }

.icon-hot:before { content: "\e619"; }

.icon-radiobox:before { content: "\e61a"; }

.icon-radioboxfill:before { content: "\e61b"; }

.icon-tag1:before { content: "\e66c"; }

.icon-search:before { content: "\e61c"; }

.icon-arrowtriangleright:before { content: "\e61d"; }

.icon-home1:before { content: "\e6a7"; }

.icon-cloudfill:before { content: "\e6cc"; }

.icon-downloadfill:before { content: "\e6ce"; }

.icon-caretleft:before { content: "\e623"; }

.icon-liebiao:before { content: "\e668"; }

.icon-remove:before { content: "\e660"; }

.icon-qishen:before { content: "\e663"; }

.icon-text:before { content: "\e61e"; }

.icon-sort-down:before { content: "\e656"; }

.icon-25:before { content: "\e669"; }

.icon-guanbi2fill:before { content: "\e724"; }

.icon-guanbi2:before { content: "\e725"; }

.icon-jiahao:before { content: "\e727"; }

.icon-jiahao1:before { content: "\e61f"; }

.icon-xuanze:before { content: "\e620"; }

.icon-yuanxingxuanzhongfill:before { content: "\e730"; }

.icon-yuanxingxuanzhong:before { content: "\e733"; }

.icon-shouyefill:before { content: "\e63a"; }

.icon-dingbu:before { content: "\e63b"; }

.icon-xiangshang2:before { content: "\e63c"; }

.icon-xiangshang5:before { content: "\e770"; }

.icon-xiangxia2:before { content: "\e63d"; }

.icon-xiangyou1:before { content: "\e63e"; }

.icon-xiangzuo1:before { content: "\e63f"; }

.icon-yonghufill:before { content: "\e65c"; }

.icon-ticket:before { content: "\e624"; }

.icon-flag1196069easyiconnet:before { content: "\e632"; }

.icon-component:before { content: "\e638"; }

.icon-gouwuche:before { content: "\e621"; }

.icon-gouwuchetianjia:before { content: "\e622"; }

.icon-jushoucang:before { content: "\e625"; }

.icon-lajixiang:before { content: "\e626"; }

.icon-lianjie:before { content: "\e627"; }

.icon-naozhong:before { content: "\e628"; }

.icon-shengyin:before { content: "\e62c"; }

.icon-shijian:before { content: "\e62d"; }

.icon-shouhuodizhi:before { content: "\e62e"; }

.icon-shouye:before { content: "\e62f"; }

.icon-shuaxin:before { content: "\e630"; }

.icon-sousuo:before { content: "\e631"; }

.icon-tishi:before { content: "\e633"; }

.icon-wancheng:before { content: "\e634"; }

.icon-wodedingdan:before { content: "\e635"; }

.icon-wodefankui:before { content: "\e636"; }

.icon-wodehongbao:before { content: "\e637"; }

.icon-wodeyouhuiquan:before { content: "\e639"; }

.icon-yijianfankui:before { content: "\e641"; }

.icon-zhaoxiangji:before { content: "\e642"; }

.icon-zhengque:before { content: "\e643"; }

.icon-xiaoxizhongxin:before { content: "\e644"; }

.icon-lingcunwei:before { content: "\e645"; }

.icon-new:before { content: "\e646"; }

.icon-guanfang2:before { content: "\e648"; }

.icon-sanshuxian:before { content: "\e6e7"; }

.icon-yuandaimaxiayoudaima:before { content: "\e649"; }

.icon-icon:before { content: "\e640"; }

.icon-bianjibi:before { content: "\e64a"; }

.icon-dengchutuichuguanbi:before { content: "\e64b"; }

.icon-houtaiguanli:before { content: "\e64c"; }

.icon-appreciatelight:before { content: "\e64d"; }

.icon-emojilight:before { content: "\e64e"; }

.icon-roundaddlight:before { content: "\e64f"; }

.icon-301:before { content: "\e650"; }

.icon-7:before { content: "\e651"; }

.icon-mian:before { content: "\e652"; }

.icon-share1:before { content: "\e687"; }

.icon-shouji54:before { content: "\e66e"; }

.icon-yanzhengma54:before { content: "\e66f"; }

.icon-mima54:before { content: "\e673"; }

.icon-mimakejian:before { content: "\e675"; }

.icon-mimabukejian:before { content: "\e677"; }

.icon-zaicishurumima:before { content: "\e69e"; }

.icon-fanhui:before { content: "\e6a0"; }

.icon-paixujiang:before { content: "\e6a3"; }

.icon-sousuo1:before { content: "\e6a8"; }

.icon-shaixuan:before { content: "\e6b6"; }

.icon-chengshijiantou:before { content: "\e6ba"; }

.icon-qiangdanicon:before { content: "\e6cb"; }

.icon-yujing:before { content: "\e717"; }

.icon-dianhua:before { content: "\e74c"; }

.icon-dingwei:before { content: "\e786"; }

.icon-xiaoxi:before { content: "\e7d2"; }

.icon-zizhirenzheng:before { content: "\e7da"; }

.icon-guizeshuoming:before { content: "\e81f"; }

.icon-yijianfankui1:before { content: "\e82f"; }

.icon-shezhi1:before { content: "\e853"; }

.icon-gengduo:before { content: "\e879"; }

.icon-lishijilu:before { content: "\e8ad"; }

.icon-shanchu:before { content: "\e8b6"; }

.icon-xinyujifen:before { content: "\e8d8"; }

.icon-kefufenxiermaikefu:before { content: "\e658"; }

.icon-denglu:before { content: "\e647"; }

.icon-add:before { content: "\e6fa"; }

.icon-bookinghistory:before { content: "\e6fc"; }

.icon-booking:before { content: "\e6fd"; }

.icon-cancel:before { content: "\e6fe"; }

.icon-carlendar:before { content: "\e6ff"; }

.icon-clock:before { content: "\e700"; }

.icon-copy:before { content: "\e701"; }

.icon-customerservice:before { content: "\e702"; }

.icon-delete:before { content: "\e703"; }

.icon-display:before { content: "\e704"; }

.icon-id:before { content: "\e707"; }

.icon-lock1:before { content: "\e708"; }

.icon-lockopen:before { content: "\e709"; }

.icon-mail1:before { content: "\e70a"; }

.icon-money:before { content: "\e70b"; }

.icon-notification1:before { content: "\e70c"; }

.icon-photogallery:before { content: "\e70d"; }

.icon-picturestar:before { content: "\e70e"; }

.icon-picture:before { content: "\e70f"; }

.icon-refresh:before { content: "\e710"; }

.icon-search1:before { content: "\e712"; }

.icon-setting:before { content: "\e713"; }

.icon-share2:before { content: "\e714"; }

.icon-sort:before { content: "\e715"; }

.icon-users:before { content: "\e716"; }

.icon-google:before { content: "\e719"; }

.icon-instegrame:before { content: "\e71a"; }

.icon-keyboard:before { content: "\e71b"; }

.icon-line:before { content: "\e71c"; }

.icon-loading:before { content: "\e71d"; }

.icon-mac:before { content: "\e71e"; }

.icon-message:before { content: "\e71f"; }

.icon-weibo:before { content: "\e720"; }

.icon-xyz:before { content: "\e723"; }

.icon-nowifi:before { content: "\e726"; }

.icon-qq1:before { content: "\e728"; }

.icon-qzone:before { content: "\e729"; }

.icon-right2:before { content: "\e72a"; }

.icon-star:before { content: "\e72b"; }

.icon-wallet:before { content: "\e72d"; }

.icon-edit:before { content: "\e72f"; }

.icon-return:before { content: "\e731"; }

.icon-play:before { content: "\e732"; }

.icon-filter:before { content: "\e734"; }

.icon-city:before { content: "\e736"; }

.icon-camera:before { content: "\e737"; }

.icon-gift:before { content: "\e739"; }

.icon-question:before { content: "\e73a"; }

.icon-soldout:before { content: "\e73b"; }

.icon-idea:before { content: "\e73d"; }

.icon-vedio:before { content: "\e73e"; }

.icon-creditcard:before { content: "\e740"; }

.icon-bill:before { content: "\e741"; }

.icon-withdrawal:before { content: "\e742"; }

.icon-iconxuexisel:before { content: "\e653"; }

.icon-user:before { content: "\e743"; }

.icon-love:before { content: "\e745"; }

.icon-love2:before { content: "\e746"; }

.icon-more1:before { content: "\e747"; }

.icon-coupon:before { content: "\e74b"; }

.icon-shangchuan:before { content: "\e679"; }

.icon-shangchuan2:before { content: "\e664"; }

.icon-review:before { content: "\e74d"; }

.icon-mail:before { content: "\e65b"; }

.icon-remove-circle:before { content: "\e667"; }

.icon-xuanzhong:before { content: "\e65d"; }

.icon-ioserweima:before { content: "\e65e"; }

.icon-anzhuoerweima:before { content: "\e65f"; }

.icon-xingxing1:before { content: "\e661"; }

.icon-xingxing:before { content: "\e662"; }

.icon-xiangbaoleimufill:before { content: "\e6ed"; }

.icon-zichanmingxi:before { content: "\e654"; }

.icon-edit1:before { content: "\e670"; }

.icon-info:before { content: "\e671"; }

.icon-info-o:before { content: "\e672"; }

.icon-list1:before { content: "\e674"; }

.icon-warning:before { content: "\e676"; }

.icon-warning-o:before { content: "\e678"; }

.icon-sys-crm:before { content: "\e8dc"; }

.icon-kshenqingzuofei:before { content: "\e696"; }

.icon-kefu:before { content: "\e655"; }

.icon-zl_zuofei:before { content: "\e666"; }

.icon-sort-small:before { content: "\e657"; }

.icon-sort-up:before { content: "\e8d9"; }

.icon-sort-down-copy:before { content: "\e8da"; }

.icon-sort-up-copy:before { content: "\e8db"; }